.title {
  width: "100%";
  text-align: "center";
  color: #2f2e41;
  h1 {
      letter-spacing: 0.3vw;
      text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-size: 3vw;
    padding: 2.5% 3vw;
  }
}
