.aboutMe {
  position: relative;
  z-index: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
button:focus {
  border: none;
  outline: none;
}
.button {
  background-color: #2f2e41;
  color: white;
  text-align: center;
  width: 50%;
  height: 50%;
  align-self: center;
  justify-self: center;
}

button:hover {
  cursor: pointer;
}
.decoration {
  position: relative;
  right: 5%;
  z-index: 0;
}
.description {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
}

.card {
  background-color: white;
  position: relative;
  z-index: 1;
  box-shadow: -3px 3px 2px 2px #aaaaaa34;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
}
.image {
  width: 100%;
}
.aboutMeText {
  text-align: center;
  align-self: center;
  justify-self: center;
  h2 {
    font-weight: lighter;
    line-height: 140%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    overflow: hidden;
  }
  .image {
    align-self: stretch;
    justify-self: center;
    width: 70%;
    grid-row-start: 1;
  }
  .description {
    align-self: stretch;
    justify-self: stretch;

    display: inherit;
    // grid-template-rows: 2fr 1fr 1fr;

    grid-template-rows: 50% 20% 20%;
  }
  .button {
    height: 30px;
  }
  .aboutMeText {
    align-self: flex-start;
    h2 {
      font-size: 13px;
    }
  }
}
